# Import Required Libraries
Import pandas, numpy, and os for data manipulation and file operations.

In [1]:
import pandas as pd
import numpy as np
import os

# Load the Airbnb Dataset
Read the Airbnb dataset from an Excel file. Handle errors if the file or directory does not exist.

In [2]:
# Read the Airbnb dataset
try:
    Airbnb_df = pd.read_excel(os.path.join("..", "Datasource", "airbnb.xlsx"))
    print("===== Retrieve original dataset successfully =====")
except Exception as e:
    print(f"Error reading dataset: {str(e)}")
    print("Please check if the 'Datasource' directory exists and you have read permissions.")

===== Retrieve original dataset successfully =====

# Initial Data Exploration
Display the shape of the dataset and print all column names to understand the data structure.

In [3]:
# Display the shape of the dataset
print(f"Dataset Overview: {Airbnb_df.shape[0]:,} x {Airbnb_df.shape[1]}")

# Print all column names
print("\nAll Column Names:")
for i, col in enumerate(Airbnb_df.columns, 1):
    print(f"{i:2d}. {col}")

Dataset Overview: 30,478 x 13

All Column Names:
 1. Host Id
 2. Host Since
 3. Name
 4. Neighbourhood
 5. Property Type
 6. Review Scores Rating (bin)
 7. Room Type
 8. Zipcode
 9. Beds
10. Number of Records
11. Number Of Reviews
12. Price
13. Review Scores Rating

# Sort and Describe Data
Sort the dataset by 'Host Id' and provide a statistical summary of the 'Price' column.

In [4]:
# Sort by 'Host Id' and describe 'Price'
Airbnb_df = Airbnb_df.sort_values(by='Host Id', ascending=True)
print(f"Reviews per Price: {Airbnb_df['Price'].describe()}")
print(Airbnb_df.head(10))

Reviews per Price: count    30478.000000
mean       163.589737
std        197.785454
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price, dtype: float64
    Host Id Host Since                                 Name Neighbourhood   \
3       500 2008-06-26   Gorgeous 1 BR with Private Balcony      Manhattan
4       500 2008-06-26             Trendy Times Square Loft      Manhattan
5      1039 2008-07-25   Big Greenpoint 1BD w/ Skyline View       Brooklyn
6      1783 2008-08-12                         Amazing Also      Manhattan
7      2078 2008-08-15  Colorful, quiet, & near the subway!       Brooklyn
8      2339 2008-08-20  East Village Cocoon: 2 Bedroom Flat      Manhattan
9      2339 2008-08-20   Lovely 2 Bedroom East Village Nest      Manhattan
10     2571 2008-08-27                           THE PUTNAM       Brooklyn
11     2758 2008-09-06     Stay at Chez Chic budget room #1      Manhattan
12     2758 2008-09-06     Stay at Chez Chic budget Room #2      Manhattan

   Property Type  Review Scores Rating (bin)        Room Type  Zipcode  Beds  \
3      Apartment                         NaN  Entire home/apt  10024.0   3.0
4      Apartment                        95.0     Private room  10036.0   3.0
5      Apartment                       100.0  Entire home/apt  11222.0   1.0
6      Apartment                       100.0  Entire home/apt  10004.0   1.0
7      Apartment                        90.0     Private room  11201.0   1.0
8      Apartment                        90.0  Entire home/apt  10009.0   2.0
9      Apartment                        95.0  Entire home/apt  10009.0   2.0
10     Apartment                        95.0  Entire home/apt  11221.0   2.0
11     Apartment                        90.0     Private room  10026.0   2.0
12     Apartment                        90.0     Private room  10026.0   2.0

    Number of Records  Number Of Reviews  Price  Review Scores Rating
3                   1                  0    199                   NaN
4                   1                 39    549                  96.0
5                   1                  4    149                 100.0
6                   1                  9    250                 100.0
7                   1                 80     90                  94.0
8                   1                 95    270                  90.0
9                   1                 23    290                  96.0
10                  1                 14    170                  98.0
11                  1                120     59                  93.0
12                  1                 81     49                  91.0

# Clean Column Names
Remove leading and trailing spaces from all column names to ensure consistency.

In [5]:
# Remove leading and trailing spaces from column names
for col in Airbnb_df.columns:
    clean_col = col.strip()
    if col != clean_col:
        Airbnb_df.rename(columns={col: clean_col}, inplace=True)

# Remove Duplicates
Drop duplicate rows based on 'Host Id' and 'Host Since' to keep unique host records.

In [6]:
# Remove duplicate rows based on 'Host Id' and 'Host Since'
Airbnb_df = Airbnb_df.drop_duplicates(subset=['Host Id', 'Host Since'])

# Convert Data Types
Convert the 'Host Since' column to datetime format and keep only the date part.

In [7]:
# Convert 'Host Since' to datetime and keep only the date part
Airbnb_df["Host Since"] = pd.to_datetime(Airbnb_df["Host Since"], format="%d/%m/%Y").dt.date

# Drop Unnecessary Columns
Remove the 'Review Scores Rating (bin)' column as it is not needed for further analysis.

In [8]:
# Delete 'Review Scores Rating (bin)' column
Airbnb_df = Airbnb_df.drop(columns=['Review Scores Rating (bin)'])

# Ensure Numeric Columns
Convert 'Price', 'Number of Records', 'Number Of Reviews', and 'Review Scores Rating' columns to numeric types, coercing errors to NaN.

In [9]:
# Ensure numeric columns are in the correct format
Airbnb_df['Price'] = pd.to_numeric(Airbnb_df['Price'], errors='coerce')
Airbnb_df['Number of Records'] = pd.to_numeric(Airbnb_df['Number of Records'], errors='coerce')
Airbnb_df['Number Of Reviews'] = pd.to_numeric(Airbnb_df['Number Of Reviews'], errors='coerce')
Airbnb_df['Review Scores Rating'] = pd.to_numeric(Airbnb_df['Review Scores Rating'], errors='coerce')

# Impute Missing Prices
Fill missing 'Price' values using the median price by 'Zipcode' and then by 'Neighbourhood'. Drop rows where 'Price' is still missing.

In [10]:
# Fill empty/NaN values for 'Price' using median by 'Zipcode' and then by 'Neighbourhood'
Airbnb_df['Price'] = Airbnb_df['Price'].fillna(Airbnb_df.groupby('Zipcode')['Price'].transform('median'))
Airbnb_df['Price'] = Airbnb_df['Price'].fillna(Airbnb_df.groupby('Neighbourhood')['Price'].transform('median'))
Airbnb_df = Airbnb_df.dropna(subset=['Price'])

# Remove Outliers and Invalid Rows
Remove rows with 'Review Scores Rating' outside 1-100 and rows with no records. Drop rows with missing key fields.

In [11]:
# Remove outliers and invalid rows
Airbnb_df = Airbnb_df[(Airbnb_df['Review Scores Rating'] >= 1) & (Airbnb_df['Review Scores Rating'] <= 100)]
Airbnb_df = Airbnb_df[(Airbnb_df['Number of Records'] >= 1)]
Airbnb_df = Airbnb_df.dropna(
    subset=[
        'Host Id', 'Host Since', 'Neighbourhood', 'Zipcode',
        'Property Type', 'Room Type', 'Beds', 'Price',
        'Number of Records', 'Number Of Reviews', 'Review Scores Rating'
    ]
)

# Categorize Columns
Convert 'Neighbourhood', 'Room Type', 'Beds', and 'Property Type' columns to categorical data types for better memory usage and analysis.

In [12]:
# Convert columns to categorical data types
Airbnb_df['Neighbourhood'] = Airbnb_df['Neighbourhood'].astype('category')
Airbnb_df['Room Type'] = Airbnb_df['Room Type'].astype('category')
Airbnb_df['Beds'] = Airbnb_df['Beds'].astype('category')
Airbnb_df['Property Type'] = Airbnb_df['Property Type'].astype('category')

# Reorder Columns
Rearrange columns for better readability and easier analysis.

In [13]:
# Reorder columns for better readability
Airbnb_df = Airbnb_df[['Host Id', 'Host Since', 'Neighbourhood', 'Zipcode', 'Property Type', 'Room Type', 'Beds', 'Price', 'Number of Records', 'Number Of Reviews', 'Review Scores Rating']]

# Save Cleaned Dataset
Save the cleaned dataset as a CSV file. Handle errors if the directory does not exist or is not writable.

In [14]:
# Save the cleaned dataset with error handling
try:
    output_path = os.path.join("..", "Datasource", "airbnb_clean.csv")
    Airbnb_df.to_csv(output_path, index=False)
    print(f"✅ Dataset saved successfully to: {output_path}")
    print(f"📊 Cleaned dataset: {Airbnb_df.shape[0]:,} rows × {Airbnb_df.shape[1]} columns")
except Exception as e:
    print(f"❌ Error saving dataset: {str(e)}")
    print("⚠️  Please check if the 'Datasource' directory exists and you have write permissions.")

✅ Dataset saved successfully to: ../Datasource/airbnb_clean.csv
📊 Cleaned dataset: 17,282 rows × 11 columns